<section>
    <div class="firstrow">
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-diagram-project"></i>
            </div>
            <div>
                <div>Projects</div>
                <div>5</div>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-list"></i>
            </div>
            <div>
                <div>To Do Tickets</div>
                <div>69</div>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-bars-progress"></i>
            </div>
            <div>
                <div>Progress Tickets</div>
                <div>46</div>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-regular fa-circle-check"></i>
            </div>
            <div>
                <div>Done Tickets</div>
                <div>93</div>
            </div>
        </div>
    </div>
    <div class="char1">
        <div>All Tickets</div>
        <canvas id="myPieChart"></canvas>
    </div>
    <div class="char2">
        <div>All Tickets</div>
        <canvas id="myBarChart"></canvas>    </div>
</section>