<section>
    <h2>Project Management</h2>
    <div class="user-row">
        <div class="searchBox">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="Add-button">
            <button (click)="modal.openModal()">
                <span>Add Project</span>
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card">
        <div>List of Projects</div>
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Project Name</th>
                    <th>Client Name</th>
                    <th>Team Size</th>
                    <th>Project Status</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of projectsList;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{a.projectName}}</td>
                    <td>{{a.clientName}}</td>                    
                    <td>{{a.teamSize}}</td>
                    <td>{{a.projectStatus}}</td>
                    <td>{{a.description}}</td>
                    <td><i (click)="editData(a)" class="fa-solid fa-pen-to-square"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<app-add-project #modal [editData]="_editData" (close)="onModalClose()" ></app-add-project>
