nav{
    max-width: 1200px !important;
    min-width: 100%;
    background: #ae7f7f;
    border-bottom: 1px solid #DBDBDB;  
    padding: 20px;
    background-size: cover; /* Or adjust as needed */
    box-sizing: border-box;    /* Ensures padding and border are included in the element's total width and height */
}