<section>
    <h2>User Management</h2>
    <div class="user-row">
        <div class="searchBox">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="Add-button">
            <button>
                <span>Add User</span>
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card">
        <div>List of Projects</div>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john@example.com</td>
                    <td>30</td>
                    <td>USA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                    <td>25</td>
                    <td>Canada</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john@example.com</td>
                    <td>30</td>
                    <td>USA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                    <td>25</td>
                    <td>Canada</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>