<section class="board">
    <div class="wrapper">
        <select class="custom-select"  (ngModelChange)="projectChanged($event)" [(ngModel)]="_Project_Id">
            <option class="select" *ngFor="let a of projectsList" [value]="a._id">{{a.projectName}}</option>
        </select>
    </div>
    <div class="row1">
        <div class="left">
            <div class="text">{{_project.projectName}}</div>
        </div>
        <div class="right">
            <div class="adduser">
                <div class="icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div>Add Ticket</div>
            </div>
            <div class="users">
                <div class="user">AB</div>
                <div class="user">VK</div>
                <div class="user">SK</div>
                <div class="user">SK</div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card" (dragover)="onDragOver($event)" (drop)="onDrop($event,'open')">
            <div class="card-top">
                <div></div>
                <div>To Do</div>
                <div>{{countColoum('open')}}</div>
            </div>
            <div class="tickets">
                <div class="ticket" draggable="true" *ngFor="let a of filterTickets('open')"
                    (dragstart)="onDragStart(a)">
                    <div [ngClass]="{
                        'low': a.priority=='low',
                        'medium': a.priority=='medium',
                        'high': a.priority=='high'
                      }" class="low">{{a.priority}}</div>
                    <div>{{a.title}}</div>
                    <div>{{a.description}}</div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
            </div>
        </div>
        <div class="card" (dragover)="onDragOver($event)" (drop)="onDrop($event,'in progress')">
            <div class="card-top second-card">
                <div></div>
                <div>On Progress</div>
                <div>{{countColoum('in progress')}}</div>
            </div>
            <div class="tickets">
                <div class="ticket" draggable="true"
                    *ngFor="let a of filterTickets('in progress')" (dragstart)="onDragStart(a)">
                    <div [ngClass]="{
                    'low': a.priority=='low',
                    'medium': a.priority=='medium',
                    'high': a.priority=='high'
                  }" class="low">{{a.priority}}</div>
                    <div>{{a.title}}</div>
                    <div>{{a.description}}</div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
            </div>
        </div>
        <div class="card" (dragover)="onDragOver($event)" (drop)="onDrop($event,'completed')">
            <div class="card-top third-card">
                <div></div>
                <div>Done</div>
                <div>{{countColoum('completed')}}</div>
            </div>
            <div class="tickets">
                <div class="ticket" draggable="true" *ngFor="let a of filterTickets('completed')"
                    (dragstart)="onDragStart(a)">
                    <div [ngClass]="{
                    'low': a.priority=='low',
                    'medium': a.priority=='medium',
                    'high': a.priority=='high'
                  }" class="low">{{a.priority}}</div>
                    <div>{{a.title}}</div>
                    <div>{{a.description}}</div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
            </div>
        </div>
    </div>
</section>