<section class="board">
    <div class="row1">
        <div class="left">
            <div class="text">Mobile App</div>
        </div>
        <div class="right">
            <div class="adduser">
                <div class="icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div>Add User</div>
            </div>
            <div class="users">
                <div class="user">AB</div>
                <div class="user">VK</div>
                <div class="user">SK</div>
                <div class="user">SK</div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card-top">
                <div></div>
                <div>To Do</div>
                <div>4</div>
            </div>
            <div class="tickets">
                <div class="ticket">
                    <div class="low">Low</div>
                    <div>Brainstorming</div>
                    <div>Brainstorming brings team members' diverse experience into play. </div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
                <div class="ticket">
                    <div class="high">high</div>
                    <div>Brainstorming</div>
                    <div>Brainstorming brings team members' diverse experience into play. </div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
                <div class="ticket">
                    <div class="low">Low</div>
                    <div>Brainstorming</div>
                    <div>Brainstorming brings team members' diverse experience into play. </div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-top second-card">
                <div></div>
                <div>On Progress</div>
                <div>3</div>
            </div>
            <div class="tickets">
                <div class="ticket">
                    <div class="low">Low</div>
                    <div>Brainstorming</div>
                    <div>Brainstorming brings team members' diverse experience into play. </div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
                <div class="ticket">
                    <div class="high">high</div>
                    <div>Brainstorming</div>
                    <div>Brainstorming brings team members' diverse experience into play. </div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-top third-card">
                <div></div>
                <div>Done</div>
                <div>2</div>
            </div>
            <div class="tickets">
                <div class="ticket">
                    <div class="low">Low</div>
                    <div>Brainstorming</div>
                    <div>Brainstorming brings team members' diverse experience into play. </div>
                    <div><i class="fa-regular fa-comment-dots"></i> 12 comments</div>
                </div>
            </div>
        </div>
    </div>
</section>