/* You can add global styles to this file, and also import other style files */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    margin: auto;
    background: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure the body takes the full width */
}
  